<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Hardware list</h2>
    <ul class="list-group">
        <li *ngFor="let hardware of hardwares" (click)="onSelect(hardware)" >
            <span class="list-group-item">{{hardware.hardwareName}}<span class="badge">{{hardware.hardwareId}}</span></span>
        </li>
    </ul>
</div>

</body>
</html>
