
<body>
  <div class="full" ng-view></div>
  <h2 id="header"></h2>
  <div class="col-md-6">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-md-6">
    <label>Current power usage: (Watt/Hour) </label>
    <label id="currentSpeed">0</label>
    <!--<canvas baseChart-->
            <!--[data]="pieChartData"-->
            <!--[labels]="pieChartLabels"-->
            <!--[chartType]="pieChartType"-->
            <!--(chartHover)="chartHovered($event)"-->
            <!--(chartClick)="chartClicked($event)"></canvas>-->
  </div>
  <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
    <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
  </div>
</body>
