
<body>
  <h2 id="header"></h2>
<div style="margin: auto; display:table; width:100%;">
  <div class="settings">
      <div style="margin-top: 10px;height: 100px;">
        <div>
          <button (click)="randomizeType()" style="display: inline-block">Toggle graph layout</button>
        </div>
        <div><button (click)="getHistoryData()"> View past 24 hours</button></div>
      </div>
  </div>
  <div class="settings">
    <div  style="margin-top: 10px;height: 100px;">
        <div><button (click)="setSelectedDateVisible()">  View custom date</button></div>
        <div><input (change)="getSelectedDate()" *ngIf="dateVisible" id="selectedDate"  type="date">
      </div>
    </div>
  </div>
  <div class="settings">
    <div class="LiveData" style="margin-top: 10px;height: 100px;">
      <label>Current power usage: (Watt/Hour) </label>
      <label id="currentSpeed">0</label>
    </div>
  </div>
</div>
  <div class="overwatch">
    <div class="col-md-6">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

  </div>


</body>
